@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  position: relative;
  background: linear-gradient(#f3f3f3, #f3f3f3);
  padding: 50px;
}

h1, h2, h3, i, li, button {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
}

h1, h2 {
  text-align: center;
}

li {
  font-size: 14px;
  line-height: 1.5;
}


#chosen-color {
  border: 1px solid #e5e5e5;
  height: 50px;
  width: 100px;
}


button {
  width: 117px;
  height: 50px;
  border: 0;
  border-right: 5px solid #000000;
  border-left: 5px solid #000000;
  padding: 10px;
}

.colortable td, #artboard td, .palletteTable td {
  border: 1px solid #e5e5e5;
  width: 20px;
  height: 20px;
  padding: 0;
}

#artboard { border-collapse: collapse; }

#artboard {
  clear: both;
  background-color: #ffffff;
  margin: 30px 0;
  border: 3px solid #f00;
}

#artboard tr:nth-of-type(4n) td {
  border-bottom: 3px solid #f00;
}

#artboard tr td:nth-child(4n) {
  border-right: 3px solid #f00;
}

.palletteBuffer  {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border: 0px solid #e5e5e5 !important;
  width: 15px !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
