@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  position: relative;
  background: linear-gradient(#f3f3f3, #f3f3f3);
  padding: 50px;
}

h1, h2, h3, i, li, button {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
}

h1, h2 {
  text-align: center;
}

li {
  font-size: 14px;
  line-height: 1.5;
}


#chosen-color {
  border: 1px solid #e5e5e5;
  height: 50px;
  width: 100px;
}

button {
  width: 117px;
  height: 50px;
  border: 0;
  border-right: 5px solid #000000;
  border-left: 5px solid #000000;
  padding: 10px;
}

.content {
  width: 95%;
  height: 1200px;
  background: aqua;
  margin: auto;
  padding: 0px;
}

.leftStuff {
  width: 40%;
  float: left;
}

.rightStuff {
  width: 60%;
  float: right;
}

canvas {
  border: 6px solid black;
}  

#animationCanvas0,#animationCanvas1,#animationCanvas2,#animationCanvas3{
    position:absolute; top:100px; left:0px;
}

#animationDrawingCanvas0,#animationDrawingCanvas1,#animationDrawingCanvas2,#animationDrawingCanvas3{
    position:relative; top:120px;
}

#animationCanvasDiv {
  position: relative;
  height: 300px; //Not the way to do it but good enough for now
}

#tilesetHighlightCanvas,#tilesetCanvas{
    position:absolute; top:30px; left:0px;
}

#tilesetCanvasDiv {
  position: relative;
  height: 550px; //Not the way to do it but good enough for now
}

#fullScreenHighlightCanvas,#fullScreenCanvas{
    position:absolute; top:100px; left:0px;
}

#fullScreenCanvasDiv {
  position: relative;
  height: 1200px; //Not the way to do it but good enough for now
}

.colortable td, .tilesetTable td, .palletteTable td {
  border: 1px solid #e5e5e5;
  width: 20px;
  height: 20px;
  padding: 0;
}

.tilesetTable {
  border-collapse: collapse;
  clear: both;
  background-color: #ffffff;
  margin: 30px 0;
  border: 2px solid #f00;
}

.tile-end-bottom {
  border-bottom: 2px solid red !important;
}

.tile-end-right {
  border-right: 2px solid red !important;
}

.highlight-border-top {
  border-top: solid blue !important;
}

.highlight-border-bottom {
  border-bottom: solid blue !important;
}

.highlight-border-right {
  border-right: solid blue !important;
}

.highlight-border-left {
  border-left: solid blue !important;
}

.palletteBuffer  {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border: 0px solid #e5e5e5 !important;
  width: 15px !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Pallette Colors */
   0   0   0
/* Row 1 */
.color-a { background-color: #545454; }
.color-b { background-color: #000474; }
.color-c { background-color: #081190; }
.color-d { background-color: #300088; }
.color-e { background-color: #440064; }
.color-f { background-color: #5c0030; }
.color-g { background-color: #540400; }
.color-h { background-color: #3c1800; }
.color-i { background-color: #202a00; }
.color-j { background-color: #083a00; }
.color-k { background-color: #004000; }
.color-l { background-color: #003c00; }
.color-m { background-color: #00323c; }
.color-n { background-color: #000000; }
.color-o { background-color: #000000; }
.color-p { background-color: #000000; }
/* Row 2 */
.color-q { background-color: #989698; }
.color-r { background-color: #084cc4; }
.color-s { background-color: #3033ec; }
.color-t { background-color: #5d1ee4; }
.color-u { background-color: #8914b0; }
.color-v { background-color: #a01463; }
.color-w { background-color: #982220; }
.color-x { background-color: #783c00; }
.color-y { background-color: #545a00; }
.color-z { background-color: #287200; }
.color-A { background-color: #087c00; }
.color-B { background-color: #007627; }
.color-C { background-color: #006678; }
.color-D { background-color: #000000; }
.color-E { background-color: #000000; }
.color-F { background-color: #000000; }
/* Row 3 */
.color-G { background-color: #eceeec; }
.color-H { background-color: #4c99ec; }
.color-I { background-color: #787cec; }
.color-J { background-color: #b062ec; }
.color-K { background-color: #e454ec; }
.color-L { background-color: #ec58b3; }
.color-M { background-color: #ec6b64; }
.color-N { background-color: #d48920; }
.color-O { background-color: #9faa00; }
.color-P { background-color: #76c400; }
.color-Q { background-color: #4cd020; }
.color-R { background-color: #38cc6c; }
.color-S { background-color: #38b3cc; }
.color-T { background-color: #3c3c3c; }
.color-U { background-color: #000000; }
.color-V { background-color: #000000; }
/* Row 4 */
.color-W { background-color: #eceeec; }
.color-X { background-color: #a8ccec; }
.color-Y { background-color: #bcbcec; }
.color-Z { background-color: #d4b2ec; }
.color-0 { background-color: #ecaeec; }
.color-1 { background-color: #ecaed4; }
.color-2 { background-color: #ecb4b0; }
.color-3 { background-color: #e4c490; }
.color-4 { background-color: #ccd278; }
.color-5 { background-color: #b4de78; }
.color-6 { background-color: #a8e290; }
.color-7 { background-color: #98e2b4; }
.color-8 { background-color: #a0d6e4; }
.color-9 { background-color: #a0a2a0; }
.color-- { background-color: #000000; }
.color-_ { background-color: #000000; }
